<div class="ui container" style="margin-left: 220px;">

    <div class="container">
        <div id="checkbox" class="ui form">
            <div class="inline fields">
                <div class="field">
                    <div class="ui radio checkbox ">
                        <input type="radio" name="frequency" checked="checked">
                        <label>唐小僧</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="frequency">
                        <label>摇旺</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <span> 结算类型:</span>
            <div id="stm" class="ui selection dropdown">
                <input type="hidden" name="gender">
                <i class="dropdown icon"></i>
                <div class="default text">Gender</div>
                <div class="menu">
                    <div class="item" data-value="1">Male</div>
                    <div class="item" data-value="0">Female</div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <span>供应商:  </span>
                <div id="supplier" class="ui selection dropdown">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">Gender</div>
                    <div class="menu">
                        <div class="item" data-value="1">Male</div>
                        <div class="item" data-value="0">Female</div>
                    </div>
                </div>

                <div id="channel" class="ui selection dropdown">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">Gender</div>
                    <div class="menu">
                        <div class="item" data-value="1">Male</div>
                        <div class="item" data-value="0">Female</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <span>选择用户来源类型:  </span>
                <div id="origin" class="ui selection dropdown small">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">全部</div>
                    <div class="menu">
                        <div class="item small" data-value="1">全部</div>
                        <div class="item small" data-value="0">本体</div>
                        <div class="item small" data-value="0">裂变聚道</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div>注册客户</div>
        <div>
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>

    <div>
        <input class="" style="text-align: center" type="text" name="daterange" value="">
    </div>
</div>